.sidebar{"data-background-color" => "black", "data-color" => "purple", "data-image" => image_path("sidebar-2.jpg")}
  /
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
    Tip 2: you can also add an image using data-image tag
  .logo
    = link_to 'Eureka | JEA', root_path, class: 'simple-text log-normal'
  .sidebar-wrapper
    %ul.nav
      %li.nav-item.active
        %a.nav-link{:href => "javascript:void(0)"}
          %i.material-icons dashboard
          %p Dashboard
      / your sidebar here
